$background-color: #131313;
$elements-color: #E3B873;
$white-color: #FFFFFF;
$black-txt: #363636;
$gray-txt: rgba(54, 54, 54, 0.5);

$mobile: 375px;

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@font-face {
    font-family: 'FuturaMediumC';
    src: url('./assets/fonts/FuturaMediumCRegular.otf');
}

@font-face {
    font-family: 'FuturaDemic';
    src: url('./assets/fonts/FuturaDemiCRegular.otf');
}

@font-face {
    font-family: 'FuturaBookC';
    src: url('./assets/fonts/futurabookc.otf');
}

@font-face {
    font-family: 'YesevaOne';
    src: url('./assets/fonts/YesevaOne-Regular_v2.otf');
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./assets/fonts/ProximaNova-Regular.ttf');
}
