body {
    max-width: 1440px;
    height: 10151px;
    width: 100%;
    margin: 0 auto;

    button:hover, input:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: $mobile) {
    body {
        max-width: $mobile;
        height: 8797px;
    }
}