body {
    max-width: 1440px;
    height: 10151px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: $mobile) {
    body {
        max-width: $mobile;
        min-height: 8271px;
    }
}