.footer {
    width: 100%;
    min-height: 953.9px;
    
    .location {
        width: 100%;
        min-height: 953.9px;
        background-color: $background-color;
    }
}

@media screen {
    .footer {
        @media (max-width: $mobile) {
            max-width: 375px;
            min-height: 468px;
        }
    }
}