.footer {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 133px;
    
    &__nav {
        width: 100%;
        max-width: 1440px;
        height: 100%;

        .heading {
            top: 0%;
            margin-left: 0.7%;
        }

        .nav {
            margin-left: 7%;
        }

        .call-btn {
            margin-right: 21%;
        }
    }
}

@media screen {
    .footer {
        @media (max-width: $mobile) {
            display: none;
        }
    }
}