.header {
    max-width: 1438px;
    width: 100%;
    height: 83px;
    background-color: $background-color;
    position: relative;
    @include flex;

    .heading {
        color: #E3B873;
        font-family: "FuturaDemic";
        position: relative;
        width: 13.9%;
        font-size: 0.87vw;
        left: 5.9%;
        top: 2%;
        word-spacing: 4px;
    }

    .nav {
        width: 41%;
        height: 14px;
        position: relative;
        top: 1px;
        margin-left: 6%;
        @include flex;

        .active-itm {
            color: $elements-color;
        }
    }

    .nav__item {
        color: $white-color;
        font-family: 'FuturaBookC';
        font-size: 0.972vw;

        &:hover {
            color: $elements-color;
        }
    }

    .nav__item-6 {
        margin-right: 4px;
    }

    .call-request-block {
        width: 29.5%;
        display: flex;
        height: 38px;
        @include flex;
    }

    .tel-num {
        color: #E3B873;
        font-family: "FuturaDemic";
        text-decoration: underline;
        font-size: 0.972vw;
    }

    .call-btn {
        width: 38%;
        height: 100%;
        margin-right: 23%;

        &:hover {
            background-color: $yellow;
        }

        .call-btn__text {
            font-size: 13px;
            color: $white-color;
            text-transform: uppercase;
            font-family: 'FuturaDemic';  
        }
    }
}

@media screen and (max-width: $mobile) {
    .header {
        max-width: 375px;
        width: 100%;
        height: 57px;

        .heading {
            font-size: 12px;
            width: 44%;
            top: 0%;
            margin-left: -2%;
        }

        .nav {
            display: none;
        }

        .call-request-block {
           width: 32%;
        }

        .tel-num {
            color: $white-color;
            text-decoration: none;
            font-size: 12px;
            width: 100%;
            top: 0%;
            word-spacing: 1px;
            margin-left: -1%;
        }

        .call-btn {
            display: none;
        }
    }
}

