.main {
    width: 100%;
    height: 9935px;
    background-image: url('/assets/img/desktop/left-frame.png'),
                      url('/assets/img/desktop/right-frame.png');
    background-repeat: no-repeat;
    background-position: 0% 89.5%, 100% 89.5%;

    .main-block {
        width: 100%;
        max-width: 1438px;
        height: 707px;
        display: flex;
    }

    .switch-block:hover, .slider-img-next:hover,
    .slider-img-prev:hover {
        cursor: pointer;
    }

    .side-bar {
        width: 6.25%;
        background-color: $background-color;

        .inst-link {
            color: $elements-color;
            font-family: 'FuturaDemic';
            font-size: 14px;
            writing-mode: vertical-rl;
            position: relative;
            top: 233px;
            left: 42.27%;
        }

        .line {
            position: absolute;
            background-color: $elements-color;
            width: 2px;
            top: 408px;
            left: 5.4%;
            height: 52px;
        }
    }

    .calc-cost {
        width: 100%;
        height: 707px;
        background-image: url('/assets/img/desktop/example-design.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .main-content {
        width: 50%;

        &__header {
            font-size: 2.645vw;
            font-family: 'YesevaOne';
            color: $white-color;
            position: relative;
            line-height: 53px;
            top: 191px;
            left: 8.9%;

            .colored-header {
                color: $elements-color;
            }
        }

        &__p {
            position: relative;
            left: 8.8%;
            font-size: 22px;
            line-height: 30px;
            color: $white-color;
            top: 207px;
            font-family: 'FuturaBookC';
            
            &-mob {
                display: none;
            }
        }

        .btn-block {
            position: relative;
            top: 254px;
            left: 8.7%;
            width: 64.3%;
            height: 51px;
            @include flex;

            &__cost-btn {
                width: 47.5%;
                height: 100%;
            }

            &__calc-span, &__submit-text, &__submit-text-mob {
                font-family: 'FuturaDemic';
                font-size: 13px;
                color: $white-color;
            }
            
            &__submit-text-mob {
                display: none;
            }

            &__submit-btn {
                width: 48%;
                height: 100%;
                border-radius: 2px;
                border: 1px solid #FFFFFF;
                background-color: Transparent;
            }
        }
    }

    .scroll-down {
        width: 16.6%;
        height: 97px;
        position: absolute;
        left: 1.91%;
        top: 741px;
        @include flex;
        justify-content: space-around;
        background-color: $background-color;

        &__span {
            color: $white-color;
            font-family: 'YesevaOne';
            font-size: 14px;
            margin-right: -81px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .projects {
        width: 100%;
        height: 1074px;
        background-color: $background-color;

        &__headers-block {
            position: relative;
            height: 24px;
            width: 43.4%;
            top: 105px;
            left: 41.3%;
            @include flex;

            .projects__link {
                font-size: 14px;
                line-height: 19px;
                text-transform: uppercase;
                font-family: 'YesevaOne';
                color: rgba(255, 255, 255, 0.3);


                &_active {
                    color: $elements-color;
                }
            }
        }

        &__heading {
            position: relative;
            width: 11%;
            left: 7.02%;    
            top: 150px;
            text-transform: uppercase;
            font-family: 'YesevaOne';
            color: $elements-color;
            font-size: 27px;
            line-height: 37px;
            letter-spacing: -0.07em;
        }

        &__p {
            font-size: 18px;
            line-height: 29px;
            color: $white-color;
            font-family: 'FuturaBookC';
            position: relative;
            top: 172px;
            left: 7.02%;
            width: 29%;
        
            &-mob {
                display: none;
            }
        }

        &__prop {
            display: flex;
            position: relative;
            top: 219px;
            left: 7%;
            width: 25.5%;
            height: 185px;

            &__flex-col-1 {
                width: 52.3%;
                height: 100%;
                margin-right: 19%;
            }  
        }

        .prop__itm-2 {
            margin-top: 22%;
        }

        .prop__itm-4 {
            margin-top: 14%;
        }

        .prop__flex-col-1, .prop__flex-col-2 {
            display: flex;
            flex-direction: column;
        }

        .prop__flex-col-2 {
            margin-left: 19%;
        }

        .prop__itm {
            height: 92px;

            &__heading {
                font-size: 18px;
                line-height: 25px;
                font-family: 'YesevaOne';
                color: $elements-color;
                margin-bottom: 3%;
            }

            &__p {
                color: $white-color;
                font-size: 15px;
                line-height: 20px;
                font-family: 'FuturaBookC';
            }
        }

        &__slider {
            position: relative;
            top: -192px;
            left: 41.3%;
            width: 58.7%;
            height: 482px;

            .slider-img-1 {
                width: 80.7%;
            }

            .slider-img-2 {
                margin-left: 1.65%;
                width: 17.169%;
            }

            .slider-img-next {
                position: absolute;
                right: 3.15%;
                top: 39.55%;
            }

            &-mob {
                display: none;
            }
        }  
        
        .switch-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            width: 13.5%;
            top: 1434px;
            left: 9.5%;
            height: 20px;
        
            .circles-block {
                width: 31%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .circle {
                width: 9px;
                height: 9px;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 50%;
            
                &_active {
                    background-color: $white-color;
                }
            }
        }

    }

    .descr-block {
        width: 100%;
        height: 6846px;
        background-color: $white-color;
    }
}

.online-control {
    width: 56.8%;
    height: 500px;
    position: absolute;
    top: 1541px;
    left: 21.83%;
    text-align: center;

    &__heading {
        font-size: 20px;
        font-family: 'YesevaOne';
        color: $white-color;
    }

    &__img-block {
        position: relative;
        top: 17px;
    }

    &__video {
        height: 434px;
        width: 96%;
        position: relative;
        top: 45px;
    }

    &__prg {
        font-size: 1.341vw;
        line-height: 34px;
        font-family: 'FuturaBookC';
        color: $black-txt;
        position: relative;
        top: 134px;

        &-mob {
            display: none;
        }
    }
}

.submit-form {
    width: 52%;
    height: 110px;
    left: 24%;
    top: 2392px;
    position: absolute;

    .main-wrapper {
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: space-between;

        .name-wrapper {
            margin-left: 0.7%;
        }

        .phone-wrapper {
            margin-left: 1%;
        }

        .name-wrapper, .phone-wrapper {
            display: flex;
            flex-direction: column;
            width: 30%;

            .submit-form__text {
                font-size: 15px;
                color: $gray-txt;
                font-family: 'FuturaBookC';

                &-mob {
                    display: none;
                }
            }

            .submit-form__input {
                width: 231px;
                height: 27px;
                margin-top: 2%;
            }
        }

        .submit-form__btn-text {
            font-size: 15px;
            color: $white-color;
            font-family: 'FuturaDemic';
        }
    }

    &__btn {
        width: 25.9%;
    }

    .bottom-block {
        width: 100%;
        height: 19px;
        margin-top: 32px;
        text-align: center;

        .container {
            margin-left: 31.5%;
        }

        &__span {
            font-size: 16px;
            font-family: 'FuturaBookC';  
            color: #181818;
            padding-left: 3%;
        }
    }
}

.types-of-repair {
    position: absolute;
    top: 2645px;
    left: 8.8%;
    max-width: 1440px;
    width: 82.75%;
    height: 521px;
    text-align: center;

    &__heading {
        font-size: 20px;
        font-family: 'YesevaOne';
        color: #181818;
    }

    &__img-block {
        margin-top: 1.3%;
    }

    .examples {
        width: 100%;
        position: relative;
        top: 5.7%;
        @include flex;
        
        &__itm {
            width: 31.8%;
            height: 421px;
            background-repeat: no-repeat;
            background-size: 100% 100%;

            &-1 {
                background-image: url('/assets/img/desktop/blue-room.png');
            }

            &-2 {
                background-image: url('/assets/img/desktop/white-room.png');
            }

            &-3 {
                background-image: url('/assets/img/desktop/dark-room.png');
            }

            &__about {
                width: 84.1%;
                height: 285px;
                top: 69.5%;
                position: relative;
                left: 8.3%;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
                background-color: $white-color;

                &__heading {
                    text-align: left;
                    font-size: 18px;
                    font-family: 'YesevaOne';
                    color: $black-txt;
                    position: relative;
                    width: 50%;
                    top: 9%;
                    left: 31px;
                }

                &__ol {
                    width: 100%;
                    height: 178px;
                    top: 37px;
                    position: relative;
                    list-style-type: circle;
                    text-align: left;
                    list-style-position: inside;

                    .itm {
                        padding-left: 10%;
                        font-size: 15px;
                        line-height: 25px;
                        color: #959595;
                        font-family: 'FuturaBookC';
                    }

                    .itm__span {
                        margin-left: -3%;
                    }
                }

                &__btn {
                    width: 68.5%;
                    height: 54px;
                    position: relative;
                    top: 65px;
                    left: -15.4%;

                    .cost-btn-txt {
                        font-family: 'YesevaOne';
                        color: $white-color;
                        font-size: 18px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

.free-services {
    max-width: 1440px;
    display: flex;
    position: absolute;
    top: 3527px;
    width: 100%;
    height: 681px;
    background-image: url('/assets/img/desktop/backgr-building.png');
    background-repeat: no-repeat;
    background-position: 0% -149%;
    
    .circles-block {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        height: 473px;
        top: 62px;
        left: 25%;

        .itm {
            display: flex;
            width: 100%;
            height: 40px;
            align-items: center;

            &-2 {
                margin-top: -11.8%;

                .circle-img {
                    margin-left: 17%;
                }
            }

            &-3 {
                .circle-img {
                    margin-left: 23%;
                }
            }

            &-4 {
                .circle-img {
                    margin-left: 8%;
                }
            }

            &__span {
                font-size: 18px;
                line-height: 21px;
                font-family: 'FuturaMediumC';
            }
        }

        .circle-img {
            width: 40px;
            height: 40px;
            margin-right: 18px;
            border-radius: 50%;
            background-color: $elements-color;
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);

            .img__txt {
                position: relative;
                top: 10px;
                left: 10px;
                font-size: 18px;
                font-family: 'YesevaOne';
                color: $white-color;
            }
        }
    }

    &__form {
        position: relative;
        width: 35%;
        height: 509px;
        top: 52px;
        left: 28%;
        text-align: center;
        background-color: $background-color;
        border: 1px solid rgba(255, 255, 255, 0.015);

        &__heading {
            font-size: 20px;
            font-family: 'FuturaDemic';
            color: $white-color;
            position: relative;
            top: 23px;
            line-height: 25px;
        }

        &__fields {
            position: relative;
            width: 100%;
            height: 246px;
            top: 63px;
            @include flex;
            flex-direction: column;

            .el-block {
                width: 81%;
                height: 52px;
                @include flex;
                flex-direction: column;
                text-align: left;
            }

            .el-block__text {
                color: $white-color;
                font-family: 'FuturaBookC';
                font-size: 15px;
                align-self: flex-start;
            }

            .el-block__input {
                background: initial;
                width: 100%;
                height: 25px;

                &::placeholder {
                    font-family: 'FuturaMediumC';
                    color: $white-color;
                    bottom: 6px;
                }
            }
        }

        .free-services__form__bottom-block {
            position: relative;
            width: 70%;
            top: 77px;
            left: 9.5%;
        }

        .checkbox-container__span {
            font-size: 16px;
            color: $white-color;
            font-family: 'FuturaBookC';
            margin-left: -12%;
        }

        &__btn {
            position: relative;
            top: 117px;
            left: 19.4%;
            width: 42.4%;
            height: 51px;

            &__txt {
                font-size: 13px;
                font-family: 'FuturaDemic';
                color: $white-color;
                text-transform: uppercase;
            }
        }
    }

    .save-cost {
        position: absolute;
        width: 30%;
        height: 110px;
        display: flex;
        top: 590px;
        left: 58.8%;

        &__span {
            font-size: 20px;
            line-height: 25px;
            text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
            color: $elements-color;
            font-family: 'FuturaDemic';
            margin-left: 1%;
            margin-top: 4%;
            height: 50px;
        }
    }
}

.styles {
    max-width: 1440px;
    width: 100%;
    height: 864px;
    background-image: url('/assets/img/desktop/styles.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 4440px;
    z-index: 10;
    
    &__gradient {
        max-width: 1440px;
        width: 100%;
        height: 864px;
        position: absolute;
        background: linear-gradient(120.96deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
    }

    &__heading {
        font-size: 27px;
        line-height: 37px;
        text-transform: uppercase;
        font-family: 'YesevaOne';
        color: $elements-color;
        position: relative;
        width: 20%;
        top: 15.8%;
        left: 7%;
    }

    &__ul {
        position: relative;
        width: 20%;
        top: 18%;
        left: 7%;

        &__itm {
            margin-top: 5.5%;
            color: $white-color;
            font-size: 20px;
            line-height: 34px;
            font-family: 'Proxima Nova';

            &_active {
                color: $elements-color;
                text-decoration: underline;
            }
        }
    }

    &__img {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-col-1 {
            height: 946px;
            width: 24.4%;
            top: -657px;
            left: 41%;
        }

        &-col-2 {
            margin-top: -1676px;
            height: 939px;
            left: 68.4%;
            width: 24.4%;
            height: 640px;
        }
    }

    .slider-mob {
        display: none;
    }
}

.design-project {
    position: absolute;
    max-width: 1440px;
    width: 100%;
    height: 900px;
    top: 5460px;
    text-align: center;
    display: flex;
    flex-direction: column;

    &__heading {
        color: #181818;
        font-size: 20px;
        font-family: 'YesevaOne';
        width: 15%;
        left: 42.6%;
        position: relative;
    }

    .examples__itm__about__heading-mob {
        display: none;
    }

    &__img {
        top: 17px;
        position: relative;
    }

    &__p {
        font-size: 20px;
        line-height: 27px;
        font-family: 'FuturaBookC';
        color: $black-txt;
        position: relative;
        top: 34px;

        &-mob {
            display: none;
            font-size: 15px;
            line-height: 20px;
            font-family: 'FuturaBookC';
            color: $white-color;
        }
    }

    &__examples {
        position: relative;
        top: 81px;
        width: 85.9%;
        left: 7.2%;
        @include flex;
    }

    .examples__itm {
        width: 31.8%;
        height: 421px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 10;

        &-1 {
            order: 1;
            background-image: url('/assets/img/desktop/blue-room.png');
        }

        &-2 {
            order: 3;
            background-image: url('/assets/img/desktop/white-room.png');
        }

        &-3 {
            order: 2;
            background-image: url('/assets/img/desktop/dark-room.png');
        }

        &__about {
            width: 84.1%;
            height: 285px;
            top: 69.5%;
            position: relative;
            left: 8.3%;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
            background-color: $white-color;

            &-1 {
                height: 213px;
            }

            &-2 {
                height: 416px;
            }

            &__heading {
                text-align: left;
                font-size: 18px;
                font-family: 'YesevaOne';
                color: $black-txt;
                position: relative;
                width: 50%;
                    top: 9%;
                    left: 31px;
                }

            &__ol {
                width: 100%;
                height: 178px;
                top: 37px;
                position: relative;
                list-style-type: circle;
                text-align: left;
                list-style-position: inside;

                .itm {
                    padding-left: 10%;
                    font-size: 15px;
                        line-height: 25px;
                        color: #959595;
                        font-family: 'FuturaBookC';
                    }

                    .itm__span {
                        margin-left: -3%;
                    }
            }

            &__btn {
                width: 68.5%;
                height: 54px;
                position: relative;
                top: 65px;
                left: -15.4%;
                margin-left: -1%;

                .cost-btn-txt {
                    font-family: 'YesevaOne';
                    color: $white-color;
                    font-size: 18px;
                    text-transform: uppercase;
                }
                
                &-1 {
                    top: -11px;
                }

                &-2 {
                    top: 193px;
                }
            }
        }    
    }
}

.steps-to-goal {
    display: flex;
    max-width: 1440px;
    width: 100%;
    height: 1616px;
    position: absolute;
    top: 5926px;
    background-color: $background-color;

    .left-text-block {
        width: 28%;
        height: 610px;
        position: relative;
        top: 426px;
        left: 7%;
        
        &__txt {
            position: relative;
            font-size: 15px;
            text-transform: uppercase;
            color: $white-color;
            font-family: 'FuturaDemic';
        }

        &__main-heading {
            position: relative;
            font-size: 27px;
            text-transform: uppercase;
            color: $elements-color;
            font-family: 'YesevaOne';
            line-height: 37px;
            top: 18px;
        }

        &__span {
            position: relative;
            font-size: 18px;
            text-transform: uppercase;
            color: $white-color;
            font-family: 'YesevaOne';
            top: 105px;
        }

        &__heading {
            font-size: 15px;
            line-height: 23px;
            text-transform: uppercase;
            font-family: 'YesevaOne';
            color: $elements-color;
            top: 126px;
            position: relative;        
        }

        &__prg {
            position: relative;
            font-size: 15px;
            line-height: 25px;
            color: $white-color;
            font-family: 'FuturaDemic';
        }
        
        &__prg-1 {
            top: 138px;
        }

        &__prg-2 {
            top: 150px;
        }

        &__switch-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 71%;
            height: 20px;
            position: relative;
            top: 250px;
        
            .circles-block {
                width: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .circle {
                width: 9px;
                height: 9px;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 50%;
            
                &_active {
                    background-color: $white-color;
                }
            }
        }
    }

    .right-block {
        position: relative;
        width: 53.2%;
        height: 601px;
        top: 517px;
        left: 11.8%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top-block {
            width: 100%;
            height: 168px;
            @include flex;
            flex-direction: column;
        }

        .bottom-block {
            width: 100%;
            height: 379px;

            img {
                width: 100%;
            }
        }
    }

    .top-row-items {
        width: 100%;
        height: 62px;
        @include flex;
    }

    .bottom-row-items {
        width: 100%;
        height: 61px;
        @include flex;
    }

    .itm {
        width: 18%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .number {
            font-size: 15px;
            color: rgba(255, 255, 255, 0.3);
            font-family: 'YesevaOne';

            &_active {
                color: $white-color;
            }
        }

        .line {
            width: 12%;
            height: 2px;
            background-color: rgb(105, 78, 2);

            &_active {
                background-color: $elements-color;
            }
        }

        &-3, &-6 {
            width: 13%;

            .line {
                width: 16%;
            }
        }

        &-4, &-5 {
            .line {
                margin-top: -5%;
            }

            .descr-text {
                margin-bottom: 12%;
            }
        }
         
        .descr-text {
            font-size: 15px;
            line-height: 18px;
            color: rgba(255, 255, 255, 0.3);
            font-family: 'FuturaBookC';  
            
            &_active {
                color: $white-color;
            }
        }
    }
}

.team-block {
    max-width: 1440px;
    width: 100%;
    height: 825px;
    top: 7137px;
    position: absolute;
    text-align: center;

    &__heading {
        font-size: 20px;
        text-transform: uppercase;
        color: $white-color;
        font-family: 'YesevaOne';
    }

    &__img-block {
        position: relative;
        top: 17px;
    }

    &__prg-1 {
        position: relative;
        top: 33px;
        font-size: 20px;
        line-height: 27px;
        color: $white-color;
        font-family: 'FuturaBookC';  
    }

    .teammates {
        position: relative;
        width: 71.4%;
        top: 114px;
        height: 415px;
        margin-bottom: 34px;
        left: 14.4%;
        display: flex;
        justify-content: space-between;

        &__itm {
            height: 393px;
            width: 26.5%;
        }
        
        &__img {
            width: 100%;
        
            &-mob {
                display: none;
            }
        }

        &__logo {
            position: relative;
            width: 26.5%;
            height: 17%;
            margin-top: -144%;
            margin-left: -13%;
            background-color: $elements-color;
            box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
        
            img {
                margin-top: 16%;
            }
        }

        &__descr {
            position: relative;
            background-color: $white-color;
            margin-top: 90%;
            width: 85.4%;
            height: 135px;
            left: 7%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &__heading-3 {
            position: relative;
            top: 22px;
            font-size: 18px;
            font-family: 'YesevaOne';
            color: $background-color;
        }

        &__heading-4 {
            position: relative;
            top: 32px;        
            color: #959595;
            font-size: 18px;
            font-family: 'FuturaBookC';
        }

        &__btn {
            border-radius: 0%;
            position: relative;
            top: 57px;
            width: 100%;
            height: 43px;
        }

        &__btn-txt {
            font-size: 13px;
            text-transform: uppercase;
            color: $white-color;
            font-family: 'YesevaOne';
        }
    }

    &__line {
        position: relative;
        margin: 0 auto;
        top: 133px;
        width: 54px;
        height: 2px;
        background-color: $elements-color;
    }

    &__bottom-prg {
        position: relative;
        font-size: 20px;
        line-height: 34px;
        color: $black-txt;
        font-family: 'FuturaBookC'; 
    }

    &__prg-2 {
        top: 142px;
    }

    &__prg-3 {
        top: 143px;
    }
}

.clients-block {
    max-width: 1440px;
    width: 100%;
    height: 640px;
    position: absolute;
    top: 8070px;
    text-align: center;

    &__heading {
        font-size: 20px;
        font-family: 'YesevaOne';
        color: #181818;
        text-transform: uppercase;
    }

    &__img-block {
        margin-top: 15px;
    }

    &__prg {
        font-size: 20px;
        line-height: 27px;
        font-family: 'FuturaBookC';
        color: $black-txt;
        margin-top: 17px;
    }

    &__examples {
        width: 86%;
        height: 432px;
        position: relative;
        top: 71px;
        left: 7.2%;
        display: flex;
        justify-content: space-between;
    }

    .itm {
        width: 30.3%;
        height: 93.6%;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
        
        &__heading {
            font-size: 18px;
            line-height: 23px;
            font-family: 'YesevaOne';
            color: #181818;
            text-align: right;
        }

        &__top-block {
            display: flex;
            justify-content: space-between;
            position: relative;
            width: 68.3%;
            left: 5%;
            align-items: center;
        }

        &__bottom-prg {
            font-size: 15px;
            color: #959595;
            font-family: 'FuturaBookC';
            margin-top: 4%;
            line-height: 186.9%;
            text-align: left;
            padding-left: 5.6%;
        }

        &__btn-block {
            position: relative;
            top: 66px;
            width: 78.5%;
            height: 55px;
            display: flex;
            justify-content: space-between;
        }

        &__btn {
            display: flex;
            justify-content: space-around;
            align-items: center;
            box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
        }

        &__btn-size {
            width: 45.5%;
        }

        &__btn-days {
            width: 54%;
        }

        &__span {
            font-size: 17px;
            color: $white-color;
            font-family: 'YesevaOne';
        
            &-days {
                padding-right: 6%;
            }
        }
    }
}

.bottom-form {
    width: 58.8%;
    height: 446px;
    position: absolute;
    top: 8842px;
    left: 21.2%;
    background-color: $background-color;
    z-index: 15;
    text-align: center;

    .span {
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
        color: $white-color;
        font-family: 'YesevaOne';
        position: relative;
        top: 31px;
    }

    .fields-block {
        position: relative;
        width: 59%;
        height: 140px;
        top: 78px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .submit-form__text {
            color: rgba(255, 255, 255, 0.5);
            font-size: 15px;
            font-family: 'FuturaBookC';
        }

        .submit-form__input {
            background-color: $background-color;
            margin-top: 3%;
            height: 24px;
            padding-bottom: 5px;


            &::placeholder {
                font-size: 18px;
                color: $white-color;
            }
        }
    }

    .top-block {
        height: 45px;
        display: flex;
        justify-content: space-between;
    
        .name-input, .phone-input {
            width: 45%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-around;
        }

        .phone-input {
            width: 43.8%;
        }
    }

    .bottom-block {
        width: 100%;
        height: 45px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-around;

        .submit-form__input {
            margin-top: 1%;
        }
    }

    .submit-form__input {
        width: 100%;
    }

    .container {
        left: 34%;
        top: 123px;
    }

    .bottom-block__span {
        color: $white-color;
        font-size: 16px;
        font-family: 'FuturaBookC';
        position: relative;
        top: 123px;
        left: 1.72%;
    }

    .submit-btn {
        position: absolute;
        border-radius: 0;
        top: 360px;
        left: 39%;
        width: 22.7%;
        height: 50px;

        .btn-txt {
            font-size: 15px;
            font-family: 'FuturaDemic';
            color: $white-color;
        }
    }
}

.address-block {
    max-width: 1440px;
    width: 100%;
    height: 954px;
    position: absolute;
    top: 9064px;
    text-align: center;
    background-image: url('/assets/img/desktop/background-building.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 13;

    .gradient {
        background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
        max-width: 1440px;
        width: 100%;
        height: 954px;
        position: absolute;
        top: 0px;
        z-index: 10;
    }

    &__span {
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
        font-family: 'YesevaOne';
        color: $elements-color;
        position: relative;
        top: 272px;
        z-index: 13;

        &-mob {
            display: none;
        }
    }

    &__circle-btn {
        width: 39%;
        height: 100%;
        background-color: $elements-color;
        border-radius: 50%;
        z-index: 13;
    }

    &__img-block {
        width: 4.9%;
        height: 28px;
        top: 295px;
        left: 47.4%;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    &__img {
        padding-top: 26%;
    }

    &__map-block {
        position: relative;
        top: 338px;
        left: 17.7%;
        width: 64.3%;
        z-index: 13;
    }

    &__map-img {
        width: 100%;
    }
}

@media screen and (max-width: $mobile) {
    .main {
        max-width: $mobile;
        height: 8740px;

        .main-block {
            height: 478px;
        }

        .calc-cost {
            height: 478px;
            background-image: url('/assets/img/mobile/main-block-background.png');
        }

        .main-content {
            width: 100%;

            .main-content__p-mob {
                top: 96px;
                left: 5%;
                font-size: 18px;
                line-height: 24px;
                position: relative;
                color: $white-color;
                font-family: 'FuturaBookC';
                display: block;
            }

            .btn-block {
                width: 90.4%;
                height: 129px;
                left: 4.7%;
                top: 130px;
                flex-direction: column;

                &__submit-btn, &__cost-btn {
                    width: 100%;
                    height: 51px;
                    
                    .btn-block__submit-text {
                        display: none;
                    }

                    .btn-block__submit-text-mob {
                        display: block
                    }
                }
            }
        }

        .main-content__header {
            font-size: 23px;
            line-height: 31px;
            top: 84px;
            width: 79%;
            margin-left: -4%;
        }

        .main-content__p {
            display: none;
        }

        .scroll-down {
            display: none;
        }

        .side-bar {
            display: none;
        }

        .projects {
            height: 728px;

            &__headers-block {
                display: none;
            }

            &__heading {
                top: 31px;
                left: 33%;
                width: 33%;
                font-size: 22px;
                line-height: 31.5px;
                text-align: center;
                letter-spacing: -0.07em;
            }

            &__p {
                display: none;
                
                &-mob {
                    display: block;
                    font-size: 14px;
                    line-height: 169.8%;
                    color: $white-color;
                    font-family: 'FuturaBookC';
                    width: 98%;
                    top: 53px;
                    left: 0.7%;
                    position: relative;
                    text-align: center;
                }
            }

            &__slider {
                display: none;
            
                &-mob {
                    display: block;
                    position: relative;
                    width: 90.7%;
                    height: 241px;
                    top: -97px;
                    left: 4.7%;

                    .slider-img-next {
                        position: absolute;
                        top: 103px;
                        left: 85.5%;
                    }
    
                    .slider-img-prev {
                        position: absolute;
                        transform: rotate(180deg);
                        top: 103px;
                        left: 4.5%;
                    }
                }

                .slider-img-1 {
                    position: relative;
                    width: 100%;
                }
            }

            &__prop {
                top: 364px;
                width: 78%;
                left: 4.9%;
                justify-content: space-between;
            }
            
            .prop__itm-2 {
                margin-top: 6%;
            }

            .prop__itm-4 {
                margin-top: 3%;
            }

            .prop__itm__heading {
                font-size: 14px;
            }

            .prop__itm__p {
                font-size: 14px;
                line-height: 19px;
            }
        }

        .descr-block {
            background-color: $background-color;
            height: 2566px;
        }

        .online-control {
            width: 100%;
            height: 532px;
            left: 0px;
            top: -1px;
            position: relative;
            background-color: $background-color;

            &__heading {
                font-size: 22px;
                word-spacing: 3px;
            }

            &__img-block {
                top: 20px;
            }

            &__video {
                width: 90.1%;
                height: 210px;
                top: 56px;
                left: 0.21%;
            }

            .line {
                width: 53px;
                height: 2px;
                margin: 0 auto;
                top: 81px;
                position: relative;
                background-color: $elements-color;
            }

            &__prg {
                display: none;

                &-mob {
                    font-size: 14px;
                    line-height: 24px;
                    color: $white-color;
                    font-family: 'FuturaBookC';
                    position: relative;
                    top: 97px;
                    display: block;
                }
            }
        }
        
        .submit-form {
            position: relative;
            width: 91%;
            height: 286px;
            top: 5px;
            left: 4.3%;

            .main-wrapper {
                display: block;
            
                .submit-form__input {
                    width: 100%;
                    margin-top: 0.5%;
                    background-color: $background-color;
                    border: 1px solid $white-color;
                    border-left: none;
                    border-right: none;
                    border-top: none;
    
                    &::placeholder {
                        color: $white-color;
                    }
                }
            }

            .name-wrapper {
                width: 99.4%;
            }

            .phone-wrapper {
                width: 100%;
                top: 61px;
                position: relative;

                .submit-form__text-mob {
                    display: block;
                }
            }

            &__input-phone {
                width: 99.1%;
                margin-top: 0.5%;
            }

            &__text {
                font-size: 15px;
                color: rgba(255, 255, 255, 0.5);
                
                &-desc {
                    display: none;
                }
            }

            &__btn {
                top: 167px;
                left: 0.7%;
                position: relative;
                width: 99.3%;
                height: 51px;
                box-shadow: none;
                border-radius: 0px;
                z-index: 10;
            }

            .bottom-block {
                position: relative;
                margin-top: 0;
                top: 129px;
            
                .checkmark {
                    left: -106px;
                }
            }

            .bottom-block__span {
                font-size: 16px;
                color: $white-color;
                padding: 0;
                margin-left: -7%;
            }
        }

        .types-of-repair {
            width: 100%;
            height: 1678px;
            position: relative;
            top: 5px;
            left: 0;
            background-color: $white-color;

            &__heading {
                font-size: 22px;
                top: 85px;
                position: relative;
            }

            &__img-block {
                top: 99px;
                position: relative;
            }

            .examples {
                flex-direction: column;
                top: 138px;
                height: 1451px;
                
                &__itm {
                    width: 91%;
                    height: 366px;
                
                    &__about {
                        top: 223px;
                        left: 0;
                        width: 79.6%;
                        height: 241px;                    
                    
                        &__heading {
                            font-size: 15px;
                        }
                    
                        &__ol {
                            top: 13.3%;
                            left: 2.3%;
                        }

                        .itm {
                            font-size: 13px;
                            line-height: 22px;
                        }
                    }

                    &__about__btn {
                        top: 28px;
                        left: -14.9%;
                        width: 70%;
                        height: 40px;                    
                    }

                    .cost-btn-txt {
                        font-size: 15px;
                    }
                }
            }
        }

        .free-services {
            display: none;
        }

        .styles {
            position: relative;
            top: 80px;
            height: 207px;
            background-image: none;

            &__gradient {
                display: none;
            }

            &__heading {
                font-size: 22px;
                line-height: 30px;
                width: 61%;
                text-align: center;
                margin: 0 auto;
                top: -5px;
                left: 0;
            }

            &__ul {
                display: none;
            }

            &__img-col-1 {
                display: none;
            }

            &__img-col-2 {
                display: none;
            }
            
            .slider-mob {
                display: block;
                position: relative;
                width: 90.7%;
                height: 242px;
                left: 4.7%;
                top: 26px;
                z-index: 10;
            
                &__slider-img {
                    position: relative;
                    width: 100%;
                }

                &__next-btn {
                    position: absolute;
                    top: 104px;
                    left: 85.7%;
                }

                &__prev-btn {
                    position: absolute;
                    transform: rotate(180deg);
                    top: 104px;
                    left: 4.2%;
                }
            }
        }

        .design-project {
            position: relative;
            top: 80px;
            height: 1967px;
            background-color: $background-color;

            &__heading {
                font-size: 22px;
                color: $white-color;
                width: 51%;
                top: 175px;
                left: 0;
                margin: 0 auto;            
            }

            &__img {
                top: 193px;
            }

            &__p {
                display: none;

                &-mob {
                    display: block;
                    position: relative;
                    top: 210px;
                    width: 98%;
                }
            }

            &__examples {
                width: 90.7%;
                height: 1388px;
                left: 4.7%;
                top: 248px;
                flex-direction: column;
            }

            .examples__itm {
                width: 100%;
                height: 365px;

                &-1 {
                    order: 1;
                }

                &-2 {
                    order: 2;
                    margin-top: -18%;

                    .examples__itm__about {
                        height: 240px;

                        &__heading-mob {
                            top: 7.8%;
                            left: 12%;
                        }

                        &__ol {
                            top: 14%;
                        }

                        &__btn {
                            top: 92%;
                            position: absolute;                        
                        }
                    }
                }

                &-3 {
                    order: 3;

                    .examples__itm__about {
                        height: 240px;

                        &__heading-mob {
                            top: 7.8%;
                            left: 9%;
                        }

                        &__ol {
                            top: 14%;
                        }

                        &__btn {
                            top: 92%;
                            position: absolute;                        
                        }
                    }
                }

                &__about {
                    top: 223px;
                    left: 0;
                    width: 79.8%;
                    height: 177px;

                    &__heading {
                        display: none;

                        &-mob {
                            display: block;
                            color: #181818;
                            font-size: 15px;
                            font-family: 'YesevaOne';
                            width: 15%;
                            position: relative;
                            top: 11.2%;
                            left: 10.5%;
                        }
                    }
                }

                .itm-mob_disable {
                    display: none;
                }

                .itm {
                    font-size: 13px;
                    line-height: 22px;
                }
            }

            .examples__itm__about__ol {
                top: 18%;
                left: 2%;
            }

            .examples__itm__about__btn {
                width: 70%;
                height: 39px;
                border-radius: 0;
                position: absolute;
                top: 89%;
                left: 1%;
            }
        }

        .steps-to-goal {
            display: none;
        }

        .team-block {
            height: 1571px;
            position: relative;
            top: 79px;
            background-color: $background-color;

            &__heading {
                font-size: 22px;
            }

            &__prg-1 {
                font-size: 15px;
                line-height: 20px;
            }

            &__line {
                display: none;
            }

            &__bottom-prg {
                display: none;
            }

            .teammates {
                width: 81%;
                height: 1420px;
                left: 14%;            
                flex-direction: column;

                &__img {
                    display: none;

                    &-mob {
                        width: 100%;
                        display: block;
                    }
                }

                &__itm {
                    width: 100%;
                
                    &-2 {
                        margin-top: 8%;
                    }
                }

                &__logo {
                    width: 23%;
                    height: 18%;
                    top: 11.2%;
                    left: 1.7%;
                }

                &__descr {
                    width: 76.7%;
                    top: 3%;
                    left: 10.4%;
                    z-index: 30;
                }

                &__btn {
                    height: 45px;
                    z-index: 30;
                }
            }
        }
        
        .clients-block {
            display: none;
        }

        .bottom-form {
            position: relative;
            left: 0;
            top: 79px;
            width: 100%;
            height: 630px;

            .span {
                font-size: 20px;
                top: 130px;
            }

            .fields-block {
                top: 183px;
                width: 91%;
                height: 261px;
            }

            .top-block {
                flex-direction: column;
            }

            .name-input, .phone-input {
                width: 100%;
            }

            .name-input {
                .submit-form__input {
                    margin-top: 2%;
                }
            }

            .phone-input {
                margin-top: 14%;
            }

            .submit-btn {
                top: 579px;
                height: 51px;
                width: 90.5%;
                left: 5%;
            }

            .container {
                top: 204px;
                left: 5%;
            }

            .bottom-block__span {
                color: $white-color;
                top: 204px;
                left: -4%;
            }
        }

        .address-block {
            position: relative;
            height: 514px;
            top: 79px;
            background-color: $background-color;
            background-image: none;

            .gradient {
                display: none;
            }

            &__map-block {
                width: 90.7%;
                height: 254px;
                left: 4.8%;
                top: -66px;
            }

            .address-block__map-img {
                height: 100%;
            }

            &__span {
                display: none;

                &-mob {
                    font-size: 18px;
                    line-height: 25px;
                    top: 341px; 
                    display: block;
                    position: relative;
                    color: $elements-color;
                    font-family: 'YesevaOne';
                    text-transform: uppercase;
                }           
            }

            &__img-block {
                top: 362px;
                left: 37%;
                width: 26.7%;
                height: 7.4%;
            }
        }
    }
}

@media screen and (max-width: 1402px) {
    .slider-img-2 {
        display: none;
    }
}

@media screen and (max-width: 1350px) {
    .prop__itm__heading {
        font-size: 14px !important;
        line-height: 15px !important;
    }

    .prop__itm__p {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 1200px) {
    .circles-block {
        display: none !important;
    }

    .itm__bottom-prg {
        font-size: 10px !important;
    }

    .save-cost {
        display: none !important;
    }
}

@media screen and (max-width: 800px) {
    .left-text-block__prg {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 850px) {
    .itm {
        line-height: 17px !important;
    }

    .itm__span, .descr-text, .projects__p {
        font-size: 10px !important;
    }

    .cost-btn-txt {
        font-size: 13px !important;
    }
}
