.main {
    width: 100%;
    min-height: 9943px;
    height: 100%;

    .main-block {
        width: 100%;
        height: 100%;
        max-width: 1438px;
        min-height: 707px;
        display: flex;
    }

    .side-bar {
        width: 5.75%;
        background-color: $background-color;
    }

    .calc-cost {
        max-width: 1356px;
        width: 94.25%;
        background-image: url('/assets/img/desktop/example-design.png');
        background-repeat: no-repeat;
    }

    .projects {
        width: 100%;
        min-height: 1074px;
        background-color: $background-color;
    }

    .descr-block {
        width: 100%;
        min-height: 7200px;
        background-color: $white-color;
    }
}