.main {
    width: 100%;
    min-height: 9943px;
    height: 100%;

    .main-block {
        width: 100%;
        height: 100%;
        max-width: 1438px;
        min-height: 707px;
        display: flex;
    }

    .side-bar {
        width: 6.25%;
        background-color: $background-color;

        .inst-link {
            color: $elements-color;
            font-family: 'FuturaDemic';
            font-size: 14px;
            writing-mode: vertical-rl;
            position: relative;
            top: 233px;
            left: 42.27%;

            &span:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 0.5em;
                border-top: 1px solid black;
                z-index: -1;
            }
        }
    }

    .calc-cost {
        width: 100%;
        height: 707px;
        background-image: url('/assets/img/desktop/example-design.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .main-content {
        width: 50%;

        &__header {
            font-size: 40px;
            font-family: 'YesevaOne';
            color: $white-color;
            position: relative;
            line-height: 53px;
            top: 191px;
            left: 8.9%;

            .colored-header {
                color: $elements-color;
            }
        }

        &__p {
            position: relative;
            left: 9.67%;
            font-size: 22px;
            line-height: 30px;
            color: $white-color;
            top: 207px;
            font-family: 'FuturaBookC';
        }

        .btn-block {
            position: relative;
            top: 254px;
            left: 8.7%;
            width: 64.3%;
            height: 51px;
            @include flex;

            &__cost-btn {
                width: 47.5%;
                height: 100%;
            }

            &__calc-span, &__submit-text {
                font-family: 'FuturaDemic';
                font-size: 13px;
                color: $white-color;
            }
            
            &__submit-btn {
                width: 48%;
                height: 100%;
                border-radius: 2px;
                border: 1px solid #FFFFFF;
                background-color: Transparent;
            }
        }
    }

    .scroll-down {
        width: 16.6%;
        height: 97px;
        position: absolute;
        left: 1.91%;
        top: 741px;
        @include flex;
        justify-content: space-around;
        background-color: $background-color;

        &__span {
            color: $white-color;
            font-family: 'YesevaOne';
            font-size: 14px;
            margin-right: -81px;
        }
    }

    .projects {
        width: 100%;
        min-height: 1074px;
        background-color: $background-color;

        &__headers-block {
            position: relative;
            height: 24px;
            width: 43.4%;
            top: 105px;
            left: 41.3%;
            @include flex;

            .projects__link {
                font-size: 14px;
                line-height: 19px;
                text-transform: uppercase;
                font-family: 'YesevaOne';
                color: rgba(255, 255, 255, 0.3);


                &_active {
                    color: $elements-color;
                }
            }
        }

        &__heading {
            position: relative;
            width: 11%;
            left: 7.02%;    
            top: 150px;
            text-transform: uppercase;
            font-family: 'YesevaOne';
            color: $elements-color;
            font-size: 27px;
            line-height: 37px;
            letter-spacing: -0.07em;
        }

        &__p {
            font-size: 18px;
            line-height: 29px;
            color: $white-color;
            font-family: 'FuturaBookC';
            position: relative;
            top: 172px;
            left: 7.02%;
            width: 29%;
        }

        &__prop {
            display: flex;
            position: relative;
            top: 219px;
            left: 7%;
            width: 25.5%;
            height: 185px;

            &__flex-col-1 {
                width: 52.3%;
                height: 100%;
                margin-right: 19%;
            }  
        }

        .prop__itm-2 {
            margin-top: 22%;
        }

        .prop__itm-4 {
            margin-top: 14%;
        }

        .prop__flex-col-1, .prop__flex-col-2{
            display: flex;
            flex-direction: column;
        }

        .prop__itm {
            height: 92px;

            &__heading {
                font-size: 18px;
                line-height: 25px;
                font-family: 'YesevaOne';
                color: $elements-color;
                margin-bottom: 3%;
            }

            &__p {
                color: $white-color;
                font-size: 15px;
                line-height: 20px;
                font-family: 'FuturaBookC';
            }
        }

        &__slider {
            position: relative;
            top: -192px;
            left: 41.3%;
            width: 58.7%;
            height: 482px;

            .slider-img-1 {
                width: 80.7%;
            }

            .slider-img-2 {
                margin-left: 1.65%;
                width: 17.169%;
            }

            .slider-img-next {
                position: absolute;
                right: 3.15%;
                top: 39.55%;
            }
        }    

    }

    .descr-block {
        width: 100%;
        min-height: 7200px;
        background-color: $white-color;
    }
}

.online-control {
    width: 56.8%;
    height: 500px;
    position: absolute;
    top: 1541px;
    left: 21.83%;
    text-align: center;

    &__heading {
        font-size: 20px;
        font-family: 'YesevaOne';
        color: $white-color;
    }

    &__img-block {
        position: relative;
        top: 17px;
    }

    &__video {
        height: 434px;
        width: 96%;
        position: relative;
        top: 45px;
    }

    &__prg {
        font-size: 20px;
        line-height: 34px;
        font-family: 'FuturaBookC';
        color: $black-txt;
        position: relative;
        top: 134px;
    }
}

.submit-form {
    width: 52%;
    height: 110px;
    left: 24%;
    top: 2392px;
    position: absolute;

    .main-wrapper {
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: space-between;

        .name-wrapper {
            margin-left: 0.7%;
        }

        .phone-wrapper {
            margin-left: 1%;
        }

        .name-wrapper, .phone-wrapper {
            display: flex;
            flex-direction: column;
            width: 30%;

            .submit-form__text {
                font-size: 15px;
                color: $gray-txt;
                font-family: 'FuturaBookC';
            }

            .submit-form__input {
                width: 231px;
                height: 27px;
                margin-top: 2%;
            }
        }

        .submit-form__btn-text {
            font-size: 15px;
            color: $white-color;
            font-family: 'FuturaDemic';
        }
    }

    &__btn {
        width: 25.9%;
    }

    .bottom-block {
        width: 100%;
        height: 19px;
        margin-top: 32px;
        text-align: center;

        .container {
            margin-left: 31.5%;
        }

        &__span {
            font-size: 16px;
            font-family: 'FuturaBookC';  
            color: #181818;
            padding-left: 3%;
        }
    }
}

.types-of-repair {
    position: absolute;
    top: 2645px;
    left: 8.8%;
    max-width: 1440px;
    width: 82.75%;
    height: 521px;
    text-align: center;

    &__heading {
        font-size: 20px;
        font-family: 'YesevaOne';
        color: #181818;
    }

    &__img-block {
        margin-top: 1.3%;
    }

    .examples {
        width: 100%;
        position: relative;
        top: 5.7%;
        @include flex;
        
        &__itm {
            width: 31.8%;
            height: 421px;
            background-repeat: no-repeat;
            background-size: 100% 100%;

            &-1 {
                background-image: url('/assets/img/desktop/blue-room.png');
            }

            &-2 {
                background-image: url('/assets/img/desktop/white-room.png');
            }

            &-3 {
                background-image: url('/assets/img/desktop/dark-room.png');
            }

            &__about {
                width: 84.1%;
                height: 285px;
                top: 69.5%;
                position: relative;
                left: 8.3%;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
                background-color: $white-color;

                &__heading {
                    text-align: left;
                    font-size: 18px;
                    font-family: 'YesevaOne';
                    color: $black-txt;
                    position: relative;
                    width: 50%;
                    top: 9%;
                    left: 31px;
                }

                &__ol {
                    width: 100%;
                    height: 178px;
                    top: 37px;
                    position: relative;
                    list-style-type: circle;
                    text-align: left;
                    list-style-position: inside;

                    .itm {
                        padding-left: 10%;
                        font-size: 15px;
                        line-height: 25px;
                        color: #959595;
                        font-family: 'FuturaBookC';
                    }

                    .itm__span {
                        margin-left: -3%;
                    }
                }

                &__btn {
                    width: 68.5%;
                    height: 54px;
                    position: relative;
                    top: 65px;
                    left: -15.4%;

                    .cost-btn-txt {
                        font-family: 'YesevaOne';
                        color: $white-color;
                        font-size: 18px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

.free-services {
    max-width: 1440px;
    position: absolute;
    top: 3527px;
    width: 100%;
    height: 681px;
    
    &__form {
        position: relative;
        width: 35%;
        height: 509px;
        top: 52px;
        left: 59.8%;
        text-align: center;
        background-color: $background-color;
        border: 1px solid rgba(255, 255, 255, 0.015);

        &__heading {
            font-size: 20px;
            font-family: 'FuturaDemic';
            color: $white-color;
            position: relative;
            top: 23px;
            line-height: 25px;
        }

        &__fields {
            position: relative;
            width: 100%;
            height: 246px;
            top: 63px;
            @include flex;
            flex-direction: column;

            .el-block {
                width: 81%;
                height: 52px;
                @include flex;
                flex-direction: column;
                text-align: left;
            }

            .el-block__text {
                color: $white-color;
                font-family: 'FuturaBookC';
                font-size: 15px;
                align-self: flex-start;
            }

            .el-block__input {
                background: initial;
                width: 100%;
                height: 25px;

                &::placeholder {
                    font-family: 'FuturaMediumC';
                    color: $white-color;
                    bottom: 6px;
                }
            }
        }

        .free-services__form__bottom-block {
            position: relative;
            width: 70%;
            top: 77px;
            left: 9.5%;
        }

        .checkbox-container__span {
            font-size: 16px;
            color: $white-color;
            font-family: 'FuturaBookC';
            margin-left: -12%;
        }

        &__btn {
            position: relative;
            top: 117px;
            left: 19.4%;
            width: 42.4%;
            height: 51px;

            &__txt {
                font-size: 13px;
                font-family: 'FuturaDemic';
                color: $white-color;
                text-transform: uppercase;
            }
        }
    }

    .save-cost {
        position: relative;
        width: 30%;
        height: 110px;
        display: flex;
        top: 79px;
        left: 56.6%;

        &__span {
            font-size: 20px;
            line-height: 25px;
            text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
            color: $elements-color;
            font-family: 'FuturaDemic';
            margin-left: 1%;
            margin-top: 4%;
            height: 50px;
        }
    }
}

.styles {
    max-width: 1440px;
    width: 100%;
    height: 864px;
    background-image: url('/assets/img/desktop/styles.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 4440px;
    z-index: 10;
    
    &__gradient {
        max-width: 1440px;
        width: 100%;
        height: 864px;
        position: absolute;
        background: linear-gradient(120.96deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
    }

    &__heading {
        font-size: 27px;
        line-height: 37px;
        text-transform: uppercase;
        font-family: 'YesevaOne';
        color: $elements-color;
        position: relative;
        width: 20%;
        top: 15.8%;
        left: 8.9%;
    }

    &__ul {
        position: relative;
        width: 20%;
        top: 20%;
        left: 8.9%;

        &__itm {
            margin-top: 5.5%;
            color: $white-color;
            font-size: 20px;
            line-height: 34px;
            font-family: 'Proxima Nova';

            &_active {
                color: $elements-color;
                text-decoration: underline;
            }
        }
    }

    &__img {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-col-1 {
            height: 438px;
            width: 24.4%;
            top: -658px;
            left: 42.9%;
        }

        &-col-2 {
            top: -1168px;
            left: 70.5%;
            width: 24.4%;
            height: 640px;
        }
    }
}

.design-project {
    position: absolute;
    max-width: 1440px;
    width: 100%;
    height: 900px;
    top: 5460px;
    text-align: center;
    display: flex;
    flex-direction: column;

    &__heading {
        color: #181818;
        font-size: 20px;
        font-family: 'YesevaOne';
        width: 15%;
        margin-left: 44.5%;
    }

    &__img {
        top: 17px;
        position: relative;
        margin-left: 4%;
    }

    &__p {
        font-size: 20px;
        line-height: 27px;
        font-family: 'FuturaBookC';
        color: $black-txt;
        margin-left: 4%;
        position: relative;
        top: 34px;
    }

    &__examples {
        position: relative;
        top: 81px;
        width: 85.9%;
        left: 7.8%;
        @include flex;
    }

    .examples__itm {
        width: 31.8%;
        height: 421px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 10;

        &-1 {
            order: 1;
            background-image: url('/assets/img/desktop/blue-room.png');
        }

        &-2 {
            order: 3;
            background-image: url('/assets/img/desktop/white-room.png');
        }

        &-3 {
            order: 2;
            background-image: url('/assets/img/desktop/dark-room.png');
        }

        &__about {
            width: 84.1%;
            height: 285px;
            top: 69.5%;
            position: relative;
            left: 8.3%;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
            background-color: $white-color;

            &-1 {
                height: 213px;
            }

            &-2 {
                height: 416px;
            }

            &__heading {
                text-align: left;
                font-size: 18px;
                font-family: 'YesevaOne';
                color: $black-txt;
                position: relative;
                width: 50%;
                    top: 9%;
                    left: 31px;
                }

            &__ol {
                width: 100%;
                height: 178px;
                top: 37px;
                position: relative;
                list-style-type: circle;
                text-align: left;
                list-style-position: inside;

                .itm {
                    padding-left: 10%;
                    font-size: 15px;
                        line-height: 25px;
                        color: #959595;
                        font-family: 'FuturaBookC';
                    }

                    .itm__span {
                        margin-left: -3%;
                    }
            }

            &__btn {
                width: 68.5%;
                height: 54px;
                position: relative;
                top: 65px;
                left: -15.4%;

                .cost-btn-txt {
                    font-family: 'YesevaOne';
                    color: $white-color;
                    font-size: 18px;
                    text-transform: uppercase;
                }
            }
        }    
    }
}

.steps-to-goal {
    display: flex;
    max-width: 1440px;
    width: 100%;
    height: 1616px;
    position: absolute;
    top: 5926px;
    background-color: $background-color;

    .left-text-block {
        width: 28%;
        height: 610px;
        position: relative;
        top: 426px;
        left: 7%;
        
        &__txt {
            position: relative;
            font-size: 15px;
            text-transform: uppercase;
            color: $white-color;
            font-family: 'FuturaDemic';
        }

        &__main-heading {
            position: relative;
            font-size: 27px;
            text-transform: uppercase;
            color: $elements-color;
            font-family: 'YesevaOne';
            line-height: 37px;
            top: 18px;
        }

        &__span {
            position: relative;
            font-size: 18px;
            text-transform: uppercase;
            color: $white-color;
            font-family: 'YesevaOne';
            top: 105px;
        }

        &__heading {
            font-size: 15px;
            line-height: 23px;
            text-transform: uppercase;
            font-family: 'YesevaOne';
            color: $elements-color;
            top: 126px;
            position: relative;        
        }

        &__prg {
            position: relative;
            font-size: 15px;
            line-height: 25px;
            color: $white-color;
            font-family: 'FuturaDemic';
        }
        
        &__prg-1 {
            top: 138px;
        }

        &__prg-2 {
            top: 150px;
        }

        &__switch-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 71%;
            height: 20px;
            position: relative;
            top: 250px;
        
            .circles-block {
                width: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .circle {
                width: 9px;
                height: 9px;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 50%;
            
                &_active {
                    background-color: $white-color;
                }
            }
        }
    }

    .right-block {
        position: relative;
        width: 53.2%;
        height: 601px;
        top: 517px;
        left: 11.8%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top-block {
            width: 100%;
            height: 168px;
            @include flex;
            flex-direction: column;
        }

        .bottom-block {
            width: 100%;
            height: 379px;

            img {
                width: 100%;
            }
        }
    }

    .top-row-items {
        width: 100%;
        height: 62px;
        @include flex;
    }

    .bottom-row-items {
        width: 100%;
        height: 61px;
        @include flex;
    }

    .itm {
        width: 18%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .number {
            font-size: 15px;
            color: rgba(255, 255, 255, 0.3);
            font-family: 'YesevaOne';

            &_active {
                color: $white-color;
            }
        }

        .line {
            width: 12%;
            height: 2px;
            background-color: rgb(105, 78, 2);

            &_active {
                background-color: $elements-color;
            }
        }

        &-3, &-6 {
            width: 13%;

            .line {
                width: 16%;
            }
        }

        &-4, &-5 {
            .line {
                margin-top: -5%;
            }

            .descr-text {
                margin-bottom: 12%;
            }
        }
         
        .descr-text {
            font-size: 15px;
            line-height: 18px;
            color: rgba(255, 255, 255, 0.3);
            font-family: 'FuturaBookC';  
            
            &_active {
                color: $white-color;
            }
        }
    }
}

.team-block {
    max-width: 1440px;
    width: 100%;
    height: 825px;
    top: 7137px;
    position: absolute;
    text-align: center;

    &__heading {
        font-size: 20px;
        text-transform: uppercase;
        color: $white-color;
        font-family: 'YesevaOne';
    }

    &__img-block {
        position: relative;
        top: 17px;
    }

    &__prg-1 {
        position: relative;
        top: 33px;
        font-size: 20px;
        line-height: 27px;
        color: $white-color;
        font-family: 'FuturaBookC';  
    }

    .teammates {
        position: relative;
        width: 71.4%;
        top: 114px;
        height: 415px;
        margin-bottom: 34px;
        left: 14.4%;
        display: flex;
        justify-content: space-between;

        &__itm {
            height: 393px;
            width: 26.5%;
        }
        
        &__img {
            width: 100%;
        }

        &__logo {
            position: relative;
            width: 26.5%;
            height: 17%;
            margin-top: -144%;
            margin-left: -13%;
            background-color: $elements-color;
            box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
        
            img {
                margin-top: 16%;
            }
        }

        &__descr {
            position: relative;
            background-color: $white-color;
            margin-top: 90%;
            width: 85.4%;
            height: 135px;
            left: 7%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &__heading-3 {
            position: relative;
            top: 22px;
            font-size: 18px;
            font-family: 'YesevaOne';
            color: $background-color;
        }

        &__heading-4 {
            position: relative;
            top: 32px;        
            color: #959595;
            font-size: 18px;
            font-family: 'FuturaBookC';
        }

        &__btn {
            border-radius: 0%;
            position: relative;
            top: 57px;
            width: 100%;
            height: 43px;
        }

        &__btn-txt {
            font-size: 13px;
            text-transform: uppercase;
            color: $white-color;
            font-family: 'YesevaOne';
        }
    }

    &__line {
        position: relative;
        margin: 0 auto;
        top: 133px;
        width: 54px;
        height: 2px;
        background-color: $elements-color;
    }

    &__bottom-prg {
        position: relative;
        font-size: 20px;
        line-height: 34px;
        color: $black-txt;
        font-family: 'FuturaBookC'; 
    }

    &__prg-2 {
        top: 142px;
    }

    &__prg-3 {
        top: 143px;
    }
}

.clients-block {
    max-width: 1440px;
    width: 100%;
    height: 640px;
    position: absolute;
    top: 8070px;
    text-align: center;

    &__heading {
        font-size: 20px;
        font-family: 'YesevaOne';
        color: #181818;
        text-transform: uppercase;
    }

    &__img-block {
        margin-top: 15px;
    }

    &__prg {
        font-size: 20px;
        line-height: 27px;
        font-family: 'FuturaBookC';
        color: $black-txt;
        margin-top: 17px;
    }

    &__examples {
        width: 86%;
        height: 432px;
        position: relative;
        top: 71px;
        left: 7.2%;
        display: flex;
        justify-content: space-between;
    }

    .itm {
        width: 30.3%;
        height: 90%;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
        
        &__heading {
            font-size: 18px;
            line-height: 23px;
            font-family: 'YesevaOne';
            color: #181818;
        }

        &__top-block {
            display: flex;
            justify-content: space-between;
            position: relative;
            width: 68.3%;
            left: 5%;
            align-items: center;
        }

        &__bottom-prg {
            font-size: 15px;
            color: #959595;
            font-family: 'FuturaBookC';
            margin-top: 4%;
            line-height: 186.9%;
        }
    }
}

@media screen {
    .main {
        @media (max-width: $mobile) {
            max-width: 375px;
            min-height: 8271px;
        }
    }
}